name: Go
on:
  push:
    branches: [ master ]
    paths-ignore:
      - ".github/dependabot.yml"
      - '.*ignore'
      - 'LICENSE'
      - '*.md'
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ${{ matrix.platform.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        platform:
          - name: ubuntu-latest
            os: ubuntu-latest
          - name: macos-latest
            os: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.0'
      - name: '[Linux only] Install OS packages'
        run: if [ "${RUNNER_OS}" == "Linux" ]; then sudo apt-get update; sudo apt-get install -y libpcap-dev; fi
      - name: Lint
        run: go vet ./...
      - name: Build
        run: go build
      - name: Test
        run: go test ./... -shuffle on
      - name: Test with race detection
        run: go test ./... -race